.navbar img {
    margin-top:7px;
}

.masthead {
    background-color: #222222;
    color: white;
    text-align: center;
}

.masthead span {
    color: #92b83e;
}

.catchword {
    font-weight: 200;
    line-height: 1.25;
    color: #d1cfd1;  
    text-align: center; 
}

.description {
    width: 55%;
    margin:auto;
}

.description p {
    font-weight: 200;
    line-height: 1.25;
    color:#888888;
    font-size: 16px;
}

.description span {
    color: #92b83e;
}

.description a:hover {
    color: white;
    text-decoration: none;
}

.parameters {
    color: #222222;
    font-weight: 300;
    background-color: #EEEEEE;
    padding: 10px 0 25px 0;
    border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
}

.parameters .control-group {
    margin:5px 0 0 10px;
}

.tips {
    text-decoration: none;
    color: #92b83e;
    cursor:help;
}

.tips:hover {
    text-decoration: underline;
    color: #92b83e;
}

.label {
    margin-left: 5px;
}

.libraries h1 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
}

.libraries .fix {
    margin-left:0px;
    margin-right: 30px;
}

.libraries label {
    font-weight: 200;
    line-height: 1.25;
}

.libraries .controls input {
    font-weight: 200;
    line-height: 1.25;
}

.libraries .controls .help-inline {
    color: red;
}

.libraries .help-block {
    font-weight: 200;
}

.doc {
    font-weight: 200;
    line-height: 1.25;
    margin-top: 60px;
    border-top: solid #dddddd 1px;
    background-color: #fcfcfc;
    padding-top: 40px;
    padding-bottom: 80px;
}

.doc h1 {
    color: #5a5a5a;
}

.control-label {
    margin-top: 10px;
}

.controls {
    margin-top: 10px;
}

.library label {
    color: #222222;
    font-weight: 300;
    background-color: #EEEEEE;
    padding: 10px 15px 10px 30px;
    border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
}

.library label span {
    float: right;
    color: #7aab3a;
    font-weight: 400;
}

.library-soon label {
    color: #CCCCCC;
    background-color: #999999;
    padding: 10px 15px 10px 30px;
    border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
}

.details div {
    width:140px;
    float:left;
}

.details .preview {
    width:300px;
    float:right;
}

.details label {
    padding: 0;
    font-weight: 200;
    text-decoration: underline;
    background-color: white;
    color:black;
}

.details .radio{
    font-weight: normal;
    text-decoration: none;
    background-color: none;
}

.footer {
    color:white;
    height: 265px;
    font-weight: 200;
    line-height: 1.25;
    font-size: 16px;
    background:#222222 url('../img/footer.png') no-repeat right bottom;
}

.footer p {
    margin-top:30px;
}

.footer a {
    color: #6e943d;
}

.footer .copyright {
    font-size: 14px;
    margin-top: 170px;
    text-align: center;
}

.kicker {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}

.kicker p{
    margin-top: 5px;
}

.kicker img {
    margin-bottom:4px;
}

.kicker a {
    color: #444444;
}

/* Dimensions */

.navbar .container {
    width: 1100px;
}

.container {
    width: 1100px;
}

.masthead {
    padding: 50px 0 20px 0;
}

.masthead h1 span{
    font-size: 30px;
}

.catchword {
    font-size: 40px;
}

.libraries label {
    font-size: 18px;
}

.libraries .controls input {
    font-size: 14px;
}

.libraries .help-block {
    font-size:12px;
    margin-bottom: 10px;
}

.libraries .checkbox {
    margin-top: 20px;
}


.details {
    margin-top: 15px;
}

.details label {
    font-size:16px;
    margin-left:15px;
}

.details .radio{
    font-size:14px;
    margin-left: 25px;
}

.kicker button {
    font-size:50px;
    padding: 10px 30px 10px 30px;
}

.kicker {
    margin-top:100px;
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Large desktop */
@media (min-width: 979px) and (max-width: 1200px) {
.navbar .container {
    width: 900px;
}

.container {
    width: 900px;
}

}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {

.navbar-fixed-top {
    margin-bottom: 0;
}

.navbar .container {
    width: 768px;
}

.container {
    width: 768px;
}

.masthead {
    padding: 20px 0 0 0;
    margin-bottom: 20px;
}

.masthead h1 span{
    font-size: 30px;
}

.catchword {
    font-size: 25px;
}

.libraries label {  
    font-size: 16px;
}

.libraries .controls input {
    font-size: 14px;
}

.libraries .help-block {
    font-size:12px;
    margin-bottom: 10px;
}

.libraries .checkbox {
    margin-top: 15px;
}

.details label {
    font-size:15px;
    margin-left:15px;
}

.details .radio{
    font-size:14px;
    margin-left: 25px;
}

.kicker button {
    font-size:25px;
    padding: 10px 30px 10px 30px;
}

.kicker {
    margin-top:30px;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

body {
    padding:0;
}

.navbar-fixed-top {
    margin-bottom: 0;
}

.navbar .container {
    width: 450px;
}

.container {
    width: 450px;
}

.masthead {
    padding: 30px 0 0px 0;
    margin-bottom: 20px;
}

.masthead h1 span{
    font-size: 18px;
}

.catchword {
    font-size: 18px;
}

.libraries h1 {
    font-size: 24px;
}

.libraries label {
    font-size: 18px;
}

.libraries .controls input {
    font-size: 12px;
}

.libraries .help-block {
    font-size:12px;
    margin-bottom: 10px;
}

.libraries .checkbox {
    margin-top: 20px;
}

.details label {
    font-size:16px;
    margin-left:15px;
}

.details .radio{
    font-size:14px;
    margin-left: 25px;
}

.kicker button {
    font-size:25px;
    padding: 10px 30px 10px 30px;
}

.kicker {
    margin-top:20px;
}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {


.navbar .container {
    width: 340px;
}

.container {
    width: 340px;
}

.masthead {
    padding: 30px 0 0px 0;
    margin-bottom: 20px;
}

.masthead h1 span{
    font-size: 18px;
}

.catchword {
    font-size: 15px;
}
