<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="AndroidKickstarter" level="TRACE"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>